
body{
    background-color: 	#e3e3e4;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.container{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: #2f2f2f;
    margin-bottom: 15px;
   
    
  
}
.logo{
    color: #d12767;
    padding: 20px;
    font-size: 36px;
    font-family: roboto,Arial ;
    float: left;
    font-weight: 200;
line-height: 42px;


}
.header .nav {
    float: right;
    padding: 0;
    margin: 0;


}
.header .nav li{
float: left;
list-style: none;
}
.header .nav li a {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFF;
    font-size: 18px;
    font-family: roboto,arial;
    text-decoration: none; 
    font-weight: 200;
    display: block;

}

.header .nav li a:hover{
    background-color: #d12767;
}
.search-form {
  margin-bottom: 15px;
    width: 100%;
}
.search-form .search-field{
  width: 80%;
  height: 50px;
  background: #fff;
 border: 1px solid #B71757;
  font-size: 16px;
  float: left;
  color: #3d3d3d;
  padding-left: 45px;

}

.search-form .search-button {
    background-color: #B71757;
    border: none;
     height: 50px;
     width: 20%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    }

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    position: relative;
    box-sizing: border-box;


}
.col-1 {width:8.3333%;}
.col-2 {width:16.6666%;}
.col-3 {width:24.99999%;}
.col-4 {width:33.3333%;}
.col-5 {width:41.6666%;}
.col-6 {width:50%;}
.col-7 {width:58.3333%;}
.col-8 {width:66.6666%;}
.col-9 {width:74.99999%;}
.col-10 {width:83.3333%;}
.col-11 {width:91.6666%;}
.col-12 {width:100%;}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.index-content-box {
    margin-bottom: 5px;
}

.index-content-box .title-image{
    width: 100%;
    display: block;

}
.index-content-box .description {
    padding: 10px;
    color: #fff;
    font-family: roboto,arial;
    font-weight: 200;
}
.index-content-box .description.pink{
   background-color: #0D7E71; 
    

}
.index-content-box .description.yellow{
   background-color: #dfdf00; 
   

}
.index-content-box .description.green{
   background-color: #B71757;
 

}
.index-content-box .description.gold{
   background-color: #dfdf00; 
   font-size: 40px; 
   

}
.index-content-box .description.silver{
   background-color: #c0c0c0; 
   font-size: 40px; 
   
    

}.index-content-box .description.bronze{
   background-color: #CD7F32;
   font-size: 40px; 
   

}

.button {
    background-color: #B71757;
    border: none;
     height: 50px;
     width: 220px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }






.containerform {
  max-width: 400px;
  width: 100%;
  margin: auto;
  
}
#voting input[type="number"],
#voting button[type="submit"] {
  font: 400 12px/16px  Roboto, Arial;
}
#voting {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: roboto,arial;
} 

#voting input[type="number"]
 {
  width: 100%;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  
}

#voting button[type="submit"] {
  cursor: pointer;
  width: 108%;
  border: none;
  background: #d12767;
  color: #FFF;
  padding: 10px;
  font-size: 15px;
}
#voting button[type="submit"]:disabled {
    background: lightgray;
}



#contact input[type="email"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px  Roboto, Arial;
}


#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: roboto,arial;
}


fieldset {
  
  margin: 10px -10px 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  border: none;
}


#contact input,
#contact textarea {
  width: 100%;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 108%;
  border: none;
  background: #d12767;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#contact button[type="submit"]:disabled {
    background: lightgray;
}




.footer{
    background-color: #2f2f2f;
    margin-top: 30px;
    text-align: center;
    font-family: roboto,arial;
    font-weight: 200;
     color: #fff;
     padding: 10px;
    
     
}

.validation-error {
    color: red;
}





